britney/report/*
britney/update_out/*.o
britney/update_out/*.so
britney/data/*
log/*
scratch/*
www/*
secret/*
livecd-rootfs/*
*.pyc
debian-cd/tasks/*
etc/.next-build-suffix*
ftp/*
tmp/*
debian-cd/data/*
livecd/*
data/*
